#nav{
   
 
    /* border-image-source: linear-gradient( to  left, #9c81c0, #7db7c9); */
    /* border-radius: 10px solid  ;
    border-image-slice: 10% ;
    border-image-source: linear-gradient(  to top, #9c81c0, #7db7c9);
    background-origin: border-box;
    border-width: 2px;
    border-radius: 1em;
    border-radius: inherit;
    z-index: -1;
    border-bottom-left-radius: 20px;  
    border-bottom-right-radius: 20px; 
    background-clip: border-box , content-box; */

    border-bottom-left-radius: 20px;  
    border-bottom-right-radius: 20px; 
    border-width:3px;
    border-color: #9c81c0;
   
}
 